# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Testing cache
.pytest_cache/

# Logs
logs/


# MLflow tracking
mlruns/
mlruns_store/
mlflow.db


# System files
.DS_Store
Thumbs.db
.vscode/


# Ignore actual heavy data artifacts, but ALLOW .dvc metadata files
data/raw/*
!data/raw/*.dvc
!data/raw/.gitkeep

data/processed/*
!data/processed/*.dvc
!data/processed/.gitkeep

# Terraform local state (keep secrets out of git)
terraform-s3/.terraform/
terraform-s3/*.tfstate*
terraform-s3/.terraform.lock.hcl

